/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .ech-encyclopedia-container {
  margin: 20px auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.ech-encyclopedia-container .encyclopedia-btn button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: var(--e-global-color-primary);
}

.ech-encyclopedia-container .encyclopedia-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.ech-encyclopedia-container .encyclopedia-card {
  flex-basis: calc((100% - 50px) / 3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.ech-encyclopedia-container .encyclopedia-card .featured-image {
  display: flex;
  height: 200px;
}

.ech-encyclopedia-container .encyclopedia-card .featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ech-encyclopedia-container .encyclopedia-card .featured-image img.default-logo {
  padding: 4%;
  object-fit: contain;
}

.ech-encyclopedia-container .encyclopedia-card .encyclopedia-info {
  padding: 4%;
  background-color: #fff;
}

.ech-encyclopedia-container .encyclopedia-card .encyclopedia-info>a {
  color: var(--e-global-color-secondary);
  text-decoration: underline;
}

.ech-encyclopedia-container .encyclopedia-card .encyclopedia-title {
  margin-bottom: 10px;
}

.ech-encyclopedia-container .encyclopedia-card .encyclopedia-title h1{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ech-encyclopedia-container .encyclopedia-card .encyclopedia-title a {
  text-decoration: none;
}

.ech-encyclopedia-container .encyclopedia-card .encyclopedia-title h1 {
  margin-bottom: 0;
  font-size: 20px;
}

.ech-encyclopedia-container .encyclopedia-card .encyclopedia-cat{
  margin-bottom: 5px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 16px !important;
  color: #3e3e3e !important;
}

.ech-encyclopedia-container .loading-encyclopedia {
  display: none;
  margin: 20px auto;
  text-align: center;
}
/******* PAGINATION ********/

.ech-encyclopedia-container .ech-encyclopedia-pagination {
  flex-basis: 100%;
  text-align: center;
}


.ech-encyclopedia-pagination  ul {
  list-style: none;
}

.ech-encyclopedia-pagination  ul li {
  display: inline-block;
  padding: 0px 7px;
}

.ech-encyclopedia-pagination  ul li,
.ech-encyclopedia-pagination  ul li a {
  font-family: "FuturaPT-Book", Sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2em;
  color: #666;
  text-decoration: none;
}

.ech-encyclopedia-pagination  ul li a:hover,
.ech-encyclopedia-pagination  ul li.active {
  color: #02457a;
  text-decoration: underline;
}

/******* (END) PAGINATION ********/
.ech-encyclopedia-container .encyclopedia-btn {
  padding: 20px;
  text-align: center;
}

@media(max-width:1024px) {
  .ech-encyclopedia-container .encyclopedia-card {
    flex-basis: calc((100% - 25px) / 2);
  }
}

@media(min-width:768px) {
  .ech-dmn-filter-container {
    position: sticky;
    top: 130px;
    height: calc(100vh - 130px);
    overflow-y: auto;
  }

  .ech-dmn-filter-container::-webkit-scrollbar {
    display: none;
  }

}

@media(max-width:767px) {

}

/* encyclopedia content */

.site-content>.ast-container {
  max-width: 100%;
  padding: 0;
}

.ast-plain-container.ast-no-sidebar #primary {
  margin-top: 0;
}
.entry-content{
  justify-items: center;
}
.ech-encyclopedia-single-post-container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
}

.post-content-container {
  flex-basis: 70%;
  padding: 4%;
  margin: 0 auto;
  background-color: #fff;
}
.related-encyclopedia{
  flex-basis: 30%;
  padding: 4%;
  background-color: #ECF5FA;
}
.encyclopedia-heading-title{
  font-size: 30px !important;
  color: var(--e-global-color-primary) !important;
}

.ech-encyclopedia-single-post-container .post-info {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ech-encyclopedia-single-post-container .post-info>ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.ech-encyclopedia-single-post-container .post-info>ul li {
  color: #58595B;
  font-size: 15px;
  line-height: 1.3;
  list-style: none;
}

.back-to-encyclopedia-list>a {
  color: #58595B;
  font-weight: 600;
  text-decoration: none !important;
}

.encyclopedia-content-container {
  padding-top: 4%;
}

.encyclopedia-content-container .post-content h1 {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.3;
}

.encyclopedia-content-container .post-content h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.encyclopedia-content-container .post-content h3 {
  margin-bottom: 10px;
  font-size: 24px
}

.encyclopedia-content-container .post-content a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-all;
  color: #3671b2;
  text-decoration: underline;
}

.related-encyclopedia-title{
  font-size: 24px !important;
}
.related-encyclopedia-list{
  margin: 0;
  list-style: none;
}
.related-encyclopedia-list li{
  margin-bottom: 20px;
}
.related-encyclopedia-list li> h6{
  margin-bottom: 5px !important;
}



@media(max-width:767px) {
  .post-content-container, .related-encyclopedia{
    flex-basis: 100%;
  }
  .ech-encyclopedia-single-post-container .post-info>ul {
    order: 2;
  }

  .encyclopedia-content-container .post-content h1 {
    font-size: 28px;
  }

  .encyclopedia-content-container .post-content h2 {
    font-size: 24px
  }

  .encyclopedia-content-container .post-content h3 {
    font-size: 20px
  }
}

/* END encyclopedia content */